
body {
  padding-top: 70px;
  padding-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
}
#main .container {
  margin-top: 20px;
};
#main .nav {
  margin-top: 20px;
  margin-bottom: 20px;
};

.table {
  margin-top: 20px;
};


.jumbotron {

  padding-top: 24px;
  padding-bottom: 24px;

}

.jumbotron h1 {
  font-size: 25px !important;
}

.jumbotron p {
  font-size: 15px;
}

.label {
  margin-right: 3px;
  font-size: 100%;
}